<!DOCTYPE html>
<html>
  <head>
    <title>Ingresar Calificaciones</title>
    <!-- Agregar los enlaces a los archivos de estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <!-- Agregar el enlace al archivo de script de Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="container mb-3 mt-3">
        <h1>INGRESAR CALIFICACIONES</h1>
        <strong>MAESTRIA: </strong> <span>{{seccion.maestria.nombre}}</span> <br>
        <strong>CURSO: </strong><span>{{seccion.curso.nombre}}</span><br>
        <strong>PERIODO: </strong><span>{{seccion.periodo.codigo}}</span>
      </div>      
      <form method="post">
        {% csrf_token %}
        <table class="table">
          <thead>
            <tr>
              <th>ALUMNO</th>
              {% for definicion in definiciones %}
                <th>{{ definicion.nombre|upper }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for alumno in alumnos %}
              <tr>
                <td>{{ alumno.nombre_completo|upper }}</td>
                {% for definicion in definiciones %}
                  <td>
                    <input type="text" class="form-control" name="alumno_{{ alumno.id }}_definicion_{{ definicion.id }}" value="" />
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit"class="btn btn-primary">Guardar</button>
        <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        // Itera a través de las celdas de entrada de texto
        $('input[type="text"]').each(function () {
          var inputElement = $(this)
          var name = inputElement.attr('name') // Obtén el atributo 'name'
      
          // Realiza una solicitud AJAX para obtener la calificación del alumno y definición
          $.ajax({
            url: '/actualizar_calificacion/', // Ruta a tu vista de Django para actualizar calificaciones
            type: 'GET',
            headers: { 'X-CSRFToken': getCookie('csrftoken') }, // Incluye el token CSRF en el encabezado
            data: {
              input_name: name // Usa 'input_name' para enviar el nombre del campo al servidor
            },
            success: function (data) {
              // Actualiza el valor de la celda con la calificación obtenida
      
              inputElement.val(data.notas)
            },
            error: function () {
              alert('Error al cargar la calificación.')
            }
          })
        })
      
        // Función para obtener el token CSRF del documento
        function getCookie(name) {
          // Inicializa la variable cookieValue como nula
          var cookieValue = null
           // Verifica si hay cookies y si document.cookie no está vacío
          if (document.cookie && document.cookie !== '') {
            // Divide las cookies en un array utilizando el punto y coma como separador
            var cookies = document.cookie.split(';')
            // Recorre todas las cookies en el array
            for (var i = 0; i < cookies.length; i++) {
              // Obtiene la i-ésima cookie y elimina espacios en blanco al principio y al final
              var cookie = $.trim(cookies[i])
              // Verifica si la cookie comienza con el nombre proporcionado seguido de '='
              if (cookie.substring(0, name.length + 1) === name + '=') {
                // Extrae y decodifica el valor de la cookie
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
                // Sale del bucle for, ya que encontró la cookie deseada
                break
              }
            }
          }
          // Devuelve el valor de la cookie o null si no se encuentra
          return cookieValue
        }
      })
    </script>
  </body>
</html>
