<!DOCTYPE html>
<html>
<head>
    <title>Ingresar Calificaciones</title>
    <!-- Agregar los enlaces a los archivos de estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Ingresar Calificaciones</h1>
        <form method="post" action="{% url 'guardar_calificaciones' %}">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre del Alumno</th>
                        <th>Calificación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos_matriculados %}
                    <tr>
                        <td>{{ alumno|upper }}</td>
                        <td>
                            <input type="number" name="calificacion_{{ alumno.id }}" class="form-control" step="0.01" min="0" max="20" value="{{ alumno.get_calificacion }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Guardar Calificaciones</button>
        </form>
    </div>

    <!-- Agregar el enlace al archivo de script de Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
