{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Registro de Pagos</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/estilos.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#sede_pago").change(function () {
          var sedeId = $(this).val();
          if (sedeId) {
            $.ajax({
              url: "/obtener-alumnos-por-sede/",
              data: {
                sede_id: sedeId,
              },
              dataType: "json",
              success: function (response) {
                $("#alumno_pago").empty();
                $.each(response.alumnos, function (index, alumno) {
                  $("#alumno_pago").append(
                    $("<option>", {
                      value: alumno.id,
                      text: alumno.nombre_completo,
                    })
                  );
                });
              },
            });
          } else {
            $("#alumno_pago").empty();
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Registro de Pagos</h1>

      <form method="post" action="{% url 'registro_pagos' %}" class="mb-3">
        {% csrf_token %}
        <div class="form-group">
          <label for="sede_pago">Sede:</label>
          <select id="sede_pago" name="sede_pago" class="form-control">
            <option value="">Seleccionar sede</option>
            {% for sede in sedes %}
            <option value="{{ sede.id }}">{{ sede.nombre }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="alumno_pago">Alumno:</label>
          <select id="alumno_pago" name="alumno_pago" class="form-control">
            <option value="">Seleccionar alumno</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Generar reporte</button>
      </form>
      <div class="container">
        <header class="clearfix">
          <div id="logo">
            <img src="{% static 'pfimapp/img/logo.png' %}" alt="Mi imagen" />
          </div>
          <h2 class="mt-3">REPORTE DE PAGOS</h2>
          <div id="project">
            {% if alumno_id %}
            <div><span>ALUMNO :</span> {{ alumnos_pagos.0|upper }}</div>
            {% else %}
            <span>ALUMNO :</span>
            {% endif %}
          </div>
        </header>
      </div>
      <!-- Resto del código HTML -->

      {% if resultados_disponibles %}
      <table class="table">
        <thead>
          <tr>
            <th class="small-font"><b>CONCEPTO DE PAGO</b></th>
            <th class="small-font"><b>PERIODO</b></th>
            <th class="small-font"><b>MONTO</b></th>
            <th class="small-font"><b>NÚMERO DE RECIBO</b></th>
            <th class="small-font"><b>ESTADO DE BOLETA DE PAGO</b></th>
          </tr>
        </thead>
        <tbody>
          {% for detalle in detalleDePago %}
          <tr>
            <td class="small-font">{{ detalle.conceptoPago }}</td>
            <td class="small-font">{{ detalle.periodo }}</td>
            <td class="small-font">{{ detalle.monto }}</td>
            <td class="small-font">{{ detalle.numeroRecibo }}</td>
            {% if detalle.estadoBoletaPago.id == 2 %}
            <td class="letraRoja small-font">
              <b>{{ detalle.estadoBoletaPago }}</b>
            </td>
            {% else %}
            <td class="letraAzul small-font">
              <b>{{ detalle.estadoBoletaPago }}</b>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No hay resultados disponibles.</p>
      {% endif %}
      <div class="container">
        <!-- Resto del código HTML -->

        <div class="mt-4 mb-4">
          <a href="{% url 'admin_dashboard' %}" class="btn btn-primary"
            >Regresar a Dashboard</a
          >

          <a
            href="{% url 'generar_pdf_pagos' %}?sede={{ sede_id }}&alumno={{ alumno_id }}"
            class="btn btn-dark"
            >Descargar PDF</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
