{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Registro de Pagos</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap" rel="stylesheet">
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/estilos.css' %}"
      />
    <script>
    $(document).ready(function () {
        $("#periodo_matricula").change(function () {
            var periodoId = $(this).val();
            if (periodoId) {
                $.ajax({
                    url: "/obtener-alumnos-por-periodo/",
                    data: {
                        periodo_id: periodoId,
                    },
                    dataType: "json",
                    success: function (response) {
                        $("#alumno_matricula").empty();
                        $.each(response.alumnos, function (index, alumno) {
                            $("#alumno_matricula").append(
                                $("<option>", {
                                    value: alumno.id,
                                    text: alumno.nombre_completo,
                                })
                            );
                        });
                    },
                });
            } else {
                $("#alumno_matricula").empty();
            }
        });
    });
</script>

  </head>
  <body>
    <div class="container mt-4">
      <h1>GENERAR BOLETAS DE MATRÍCULA</h1>

      <form method="post" action="{% url 'generar_reporte_boleta_matricula' %}" class="mb-3">
        {% csrf_token %}
        <div class="form-group">
          <label for="periodo_matricula">Período:</label>
          <select
            id="periodo_matricula"
            name="periodo_matricula"
            class="form-control"
          >
            <option value="">Seleccionar período</option>
            {% for periodo in periodos %}
            <option value="{{ periodo.id }}">{{ periodo.codigo }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="alumno_matricula">Alumno:</label>
          <select
            id="alumno_matricula"
            name="alumno_matricula"
            class="form-control"
          >
            <option value="">Seleccionar alumno</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary fondoAzul">Generar boletas</button>
      </form>

      <div class="container-fluit">
        <header class="clearfix">
          <div id="logo">
            <img src="{% static 'pfimapp/img/logo.png' %}" alt="Mi imagen" />
          </div>
          <h2 class="mt-3">BOLETAS DE MATRÍCULA</h2>
          <div id="project">
            {% if alumno_id %}
            <div><span>ALUMNO:</span> {{ alumno_nombre.0|upper }}</div>
            {% else %}
            <span>ALUMNO:</span>
            {% endif %}
            <div>
              <span>ESPECIALIDAD :</span> {{ detalleAcademico.0.seccion.maestria.nombre }}
            </div>
          </div>
        </header>
      </div>

      {% if boletas_disponibles %}
      <table class="table">
        <thead>
          <tr>
            <th class="small-font"><b>PERIODO</b></th>
            <th class="small-font"><b>CÓDIGO</b></th>
            <th class="small-font"><b>CREDITO</b></th>
            <th class="small-font"><b>CURSO</b></th>
            <th class="small-font"><b>DOCENTE</b></th>
            <th class="small-font"><b>ESTADO</b></th>
          </tr>
        </thead>
        <tbody>
          {% for detalle in detalleAcademico %}
          <tr>
            <td class="small-font">{{ detalle.seccion.periodo.codigo }}</td>
            <td class="small-font">{{ detalle.seccion.curso.codigo }}</td>
            <td class="small-font">{{ detalle.seccion.curso.credito }}</td>
            <td class="small-font">{{ detalle.seccion.curso.nombre }}</td>
            <td class="small-font">{{ detalle.seccion.docente.usuario.nombre_completos }}</td>
            
            {% if detalle.retirado == 0 %}
            <td class="letraAzul small-font"><b>ESTUDIANTE</b></td>
            {% else %}
            <td class="letraRoja small-font"><b>RETIRADO</b></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No hay resultados disponibles.</p>
      {% endif %}
      <div class="container">
        <!-- Resto del código HTML -->

        <div class="mt-4 mb-4">
          <a href="{% url 'admin_dashboard' %}" class="btn btn-primary fondoAzul"
            >Regresar a Dashboard</a
          >

          <a
            href="{% url 'generar_pdf_boleta_matricula' %}?periodo_id={{ periodo_id }}&alumno_id={{ alumno_id }}"
            class="btn btn-danger fondoRojo"
            >Descargar PDF</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
