{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Reporte de Calificaciones</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap" rel="stylesheet">
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/estilos.css' %}"
      />
    <script>
      $(document).ready(function () {
        $("#sede").change(function () {
          var sedeId = $(this).val();
          if (sedeId) {
            $.ajax({
              url: "/obtener-alumnos-por-sede/",
              data: {
                sede_id: sedeId,
              },
              dataType: "json",
              success: function (response) {
                $("#alumno").empty();
                $.each(response.alumnos, function (index, alumno) {
                  $("#alumno").append(
                    $("<option>", {
                      value: alumno.id,
                      text: alumno.nombre_completo,
                    })
                  );
                });
              },
            });
          } else {
            $("#alumno").empty();
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="container mt-4">       
      <h1>REPORTE DE CALIFICACIONES</h1>

      <form
        method="post"
        action="{% url 'reporte_calificaciones' %}"
        class="mb-3"
      >
        {% csrf_token %}
        <div class="form-group">
          <label for="sede">Sede:</label>
          <select id="sede" name="sede" class="form-control">
            <option value="">Seleccionar sede</option>
            {% for sede in sedes %}
            <option value="{{ sede.id }}">{{ sede.nombre }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="alumno">Alumno:</label>
          <select id="alumno" name="alumno" class="form-control">
            <option value="">Seleccionar alumno</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary fondoAzul">Generar reporte</button>
      </form>

      <br />
      
        <header class="clearfix">
          <div id="logo">
            <img src="{% static 'pfimapp/img/logo.png' %}" alt="Mi imagen" />
          </div>
          <h2 class="mt-3">CALIFICACIONES</h2>
          <div id="project">
            {% if alumno_id %}
            <div><span>ALUMNO :</span> {{ alumnos.0|upper }}</div>
            {% else %}
            <span>ALUMNO :</span>
            {% endif %}
            <div>
              <span>ESPECIALIDAD :</span> {{detalleAcademico.0.seccion.maestria.nombre }}
            </div>
          </div>
        </header>
      

      {% if resultados_disponibles %}

      <!-- Mostrar tabla de calificaciones -->
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="small-font"><b>PERIODO</b></th>
            <th class="small-font"><b>CÓDIGO</b></th>
            <th class="small-font"><b>CURSO</b></th>
            <th class="small-font"><b>CREDITO</b></th>
            <th class="small-font"><b>DOCENTE</b></th>
            <!-- Cabeceras dinámicas para calificaciones -->
            {% for calificacion in detalleAcademico.0.calificacion_set.all %}
              <th class="small-font"><b>{{ calificacion.definicionCalificacion.nombre|upper }}</b></th>
            {% endfor %}
            <th class="small-font"><b>ESTADO</b></th>
          </tr>
        </thead>
        <tbody>
          {% for detalle in detalleAcademico %}
          <tr>
            <td class="small-font">{{ detalle.seccion.periodo.codigo }}</td>
            <td class="small-font">{{ detalle.seccion.curso.codigo }}</td>
            <td class="small-font">{{ detalle.seccion.curso.nombre }}</td>
            <td class="small-font">{{ detalle.seccion.curso.credito }}</td>
            <td class="small-font">
              {{ detalle.seccion.docente.usuario.nombre_completos }}
            </td>
            {% for calificacion in detalle.calificacion_set.all %}
            <td class="small-font">
              {% if calificacion.nota >= 12 %}
                <b class="letraAzul">{{ calificacion.nota }}</b>
              {% elif calificacion.nota is None %}
                <b class="letraRoja">NSP</b>
              {% else %}
                <b class="letraRoja">{{ calificacion.nota }}</b>
              {% endif %}
            </td>
            {% endfor %} {% if detalle.retirado == 0 %}
            <td class="letraAzul small-font"><b>ESTUDIANTE</b></td>
            {% else %}
            <td class="letraRoja small-font"><b>RETIRADO</b></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No hay resultados disponibles.</p>
      {% endif %}
    </div>
    <div class="container">
      <!-- Resto del código HTML -->

      <div class="mt-4 mb-4">
        <a href="{% url 'admin_dashboard' %}" class="btn btn-primary fondoAzul"
          >Regresar a Dashboard</a
        >

        <a
          href="{% url 'generar_pdf_administrativo' %}?sede={{ sede_id }}&alumno={{ alumno_id }}"
          class="btn btn-danger fondoRojo"
          >Descargar PDF</a
        >
      </div>
    </div>
  </body>
</html>
